#banner {
    font-family: $fontFamilyTitulos;
    h1 {
        span {
            display: inline-block;

            &::after {
                content: "";
                position: relative;
                display: block;
                width: 100%;
                height: 2px;
                background-color: $corSecundaria;
                bottom: 0;
            }
        }
    }
}